# Supabase CLI configuration
# https://supabase.com/docs/guides/cli/config

[api]
enabled = true
port = 54321
schemas = ["public"]

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[functions.predict-analyze]
verify_jwt = false
